<header class="fixed top-0 left-0 w-[calc(100%-18rem)] z-40 bg-[#131313]/60 backdrop-blur-md flex justify-between items-center px-10 py-4">
  <div class="flex items-center gap-4 bg-surface-container-low px-4 py-2 rounded-full w-96 border border-white/5">
    <span class="material-symbols-outlined text-outline">&#xe8b6;</span>
    <input class="bg-transparent border-none focus:ring-0 text-sm w-full placeholder:text-outline/50" placeholder="تدور على حاجة؟" type="text"/>
  </div>
  <div class="flex items-center gap-6">
    <button class="relative text-outline hover:text-primary transition-colors">
      <span class="material-symbols-outlined">&#xe7f4;</span>
      <span class="absolute top-0 right-0 w-2 h-2 bg-secondary rounded-full"></span>
    </button>
    <button class="text-outline hover:text-primary transition-colors">
      <span class="material-symbols-outlined">&#xe889;</span>
    </button>
    <div class="flex items-center gap-3 pl-2 border-r border-white/10">
      <div class="text-left">
        <p class="text-xs font-bold text-on-background">ياسين الرفاعي</p>
        <p class="text-[10px] text-outline">مدير المعرض</p>
      </div>
      <div class="w-10 h-10 rounded-full bg-surface-container-high overflow-hidden border border-primary/20">
        <img class="w-full h-full object-cover" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCyMALkoFTcmThAZcrzuWx_bhpk-d0advPr_saLdWorbxtKVaNM8n5ITz-hDWN8OD67K3iueLRmzBk-fo80R0grcxCrn2NrPB9T99-cRChap-pLaCSuJCxJTvsFKAaLSvQzfEg7j6ge5ehUF-UasBflA7wn7qcEyc-Ev1H5WXx4mq9GuhFDN4kIbAfWAaqS9d1GbJYqXb0GDxS-KzAccOERQcIEgu0gVnGjyet3wPxT9UF3UqiOrrr2SGPX_km1yhoLaHLhpqwKcpk"/>
      </div>
    </div>
  </div>
</header>
